
/**
 * App containers
 */
.app-wrap {
    display: block;
    overflow: hidden;
    padding-top: 60px;
    height: 100vh;

    .app-columns {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        height: calc( 100vh - 60px );

        .app-left {
            flex: 1;
            overflow-x: hidden;
            overflow-y: auto;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 1;
        }
        .app-right {
            width: 300px;
            overflow-x: hidden;
            overflow-y: auto;
            color: desaturate( lighten( $colorSecondary, 30% ), 30% );
            background-color: $colorSecondary;
            background-image: linear-gradient( 90deg, darken( $colorSecondary, 6% ) 0%, $colorSecondary 6px );
            z-index: 2;
        }
    }
}

// default welcome message
.todo-info-page {
    display: block;
    padding: ( $padSpace * 2 ) $padSpace ( $padSpace * 4 ) $padSpace;
    color: desaturate( darken( $colorDocument, 55% ), 40% );
    animation: showAnimation $fxSpeed $fxEase forwards;

    h1, h2, h3, h4, h5, h6 {
        line-height: 1em;
        margin-bottom: $padSpace;
        color: desaturate( darken( $colorDocument, 65% ), 10% );
    }

    b, strong {
        font-weight: normal;
        color: saturate( darken( $colorDocument, 65% ), 30% );
    }
    i, em {
        font-style: normal;
        color: desaturate( darken( $colorDocument, 50% ), 10% );
    }

    a {
        color: $colorPrimary;
        text-decoration: underline;

        &:hover {
            color: darken( $colorPrimary, 10% );
        }
    }

    // user card
    .user-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: $padSpace;

        .user-photo {
            display: block;
            width: 2em;
            height: 2em;
            border-radius: 100px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 3px solid lighten( $colorDocument, 20% );
            box-shadow: $shadowPaper;
        }
        .user-info {
            display: block;
            padding-left: 0.5em;
            color: $colorSecondary;
        }
    }
}

/**
 * 900px and smaller
 */
@media (max-width: 900px) {

    // collapse right sidebar
    .app-wrap {
        width: calc( 100% + 300px );

        .app-columns {
            .app-left {
                width: 100%;
            }
            .app-right {
                width: 300px;
                background-image: none;
            }
            .app-right.expanded {
                box-shadow: -2px 0 2px rgba( 0, 0, 0, 0.2 );
                transform: translateX( -300px );
            }
        }
    }
}

