
/**
 * App containers
 */
.app-wrap {
    display: block;
    overflow: hidden;
    padding-top: $topbarHeight;
    height: 100vh;

    .app-columns {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        height: calc( 100vh - #{$topbarHeight} );

        .app-left {
            flex: 1;
            overflow-x: hidden;
            overflow-y: auto;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 1;
        }

        .app-right {
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background-color: rgba( black, 0 );
            z-index: -1;

            & > .app-sidebar {
                display: block;
                position: relative;
                margin: 0 0 0 auto;
                width: $sidebarWidth;
                transform: translateX( $sidebarWidth );
                min-height: 100vh;
                max-height: 100vh;
                overflow-x: hidden;
                overflow-y: auto;
                color: desaturate( lighten( $colorSecondary, 30% ), 30% );
                background-color: $colorSecondary;
            }

            // ready to interact
            &.active {
                pointer-events: auto;
                z-index: 100;
            }
            // visible on page
            &.visible {
                background-color: rgba( black, .6 );
                & > .app-sidebar {
                    box-shadow: $shadowBold;
                    transform: translateX( 0 );
                }
            }
        }
    }
}

// default welcome message
.todo-info-page {
    display: block;
    padding: ( $padSpace * 2 ) $padSpace ( $padSpace * 4 ) $padSpace;
    color: desaturate( darken( $colorDocument, 55% ), 40% );
    animation: fadeIn $fxSpeed $fxEase forwards;

    b, strong {
        font-weight: normal;
        color: saturate( darken( $colorDocument, 50% ), 10% );
    }
    i, em {
        font-style: normal;
        color: desaturate( darken( $colorDocument, 50% ), 10% );
    }

    // user card
    .user-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: $padSpace;

        .user-photo {
            display: block;
            width: 2em;
            height: 2em;
            border-radius: 100px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 3px solid lighten( $colorDocument, 20% );
            box-shadow: $shadowPaper;
        }
        .user-info {
            display: block;
            padding-left: 0.5em;
            color: $colorSecondary;
        }
    }
}

/**
 * 900px and bigger
 */
@media (min-width: 900px) {

    .app-wrap {
        .app-columns {
            .app-right {
                position: relative;
                width: auto;
                height: auto;
                pointer-events: auto;
                background-color: rgba( black, 0 );
                z-index: auto;

                & > .app-sidebar {
                    min-height: 100%;
                    max-height: 100%;
                    transform: translateX( 0 );
                    box-shadow: none;
                    background-image: linear-gradient( 90deg, darken( $colorSecondary, 6% ) 0%, $colorSecondary 6px );
                }
            }
        }
    }
    .saved-list-heading > button {
        display: none;
    }
}

