
/**
 * Common element show animation
 */
@keyframes showAnimation {
      0% { transform: scale( 1.2 ); opacity: 0; }
    100% { transform: scale( 1 ); opacity: 1; }
}

/**
 * Doc mods
 */
body {
    background-color: $colorDocument;
    background-image: radial-gradient( circle, lighten( $colorDocument, 10% ) 0%, rgba( 255, 255, 255, 0 ) 80% );
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/**
 * App containers
 */
.app-wrap {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
    min-height: 100vh;

    .app-left {
        flex: 1;
        min-height: 100vh;
        z-index: 1;

        #sidebar-toggle-btn {
            display: none;
        }
    }

    .app-right {
        width: 300px;
        min-height: 100vh;
        background-color: $colorSecondary;
        background-image: linear-gradient( 90deg, darken( $colorSecondary, 6% ) 0%, $colorSecondary 6px );
        color: $colorDocument;
        z-index: 2;
    }
}

/**
 * Main headings
 */
.heading-wrap {
    padding: 6px $padSpace 0 $padSpace;
    height: 2.5em;
    background-color: rgba( 0, 0, 0, 0.05 );
    font-size: 125%;

    input {
        display: block;
        width: 100%;
        font-size: inherit;
        line-height: 1.8em;
        padding: 0 4px;
        background-color: transparent;
        border-bottom: $lineWidth $lineStyle rgba( 0, 0, 0, 0 );

        &:focus {
            border-color: $lineColor;
        }
    }

    button {
        display: inline-block;
    }
}

/**
 * Todos list welcome message
 */
.todo-welcome {
    display: block;
    padding: $padSpace;
    color: desaturate( darken( $colorDocument, 40% ), 20% );

    a {
        color: darken( $colorDocument, 60% );
        &:hover {
            color: darken( $colorDocument, 50% );
        }
    }
}

/**
 * Main todo list
 */
.todo-list-metadata {
    display: none;
    margin: 0;
    padding: $padSpace;
    padding-bottom: 0;
    font-size: 80%;
    line-height: 1.4em;
}
.todo-list-wrap {
    display: block;
    list-style: none;
    text-align: left;
    padding: $padSpace;

    // todo list item entry (pending)
    .todo-list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: stretch;
        margin-bottom: 10px;
        padding: 12px $padSpace;
        border-radius: $lineJoin;
        background-color: #e1decd;
        box-shadow: $shadowPaper;
        animation: showAnimation $fxSpeed $fxEase;

        // list item left icon
        .todo-list-icon {
            font-size: 200%;
            line-height: 1em;
            padding-right: $padSpace;
            text-align: left;

            // pending icon
            .todo-list-icon-pending {
                color: $colorWarning;
            }
            // complete icon
            .todo-list-icon-complete {
                display: none;
                color: $colorSuccess;
            }
        }

        // todo list entry info + edit input
        .todo-list-info {
            flex: 1;

            // input label wrapper
            .todo-list-label {
                display: block;
                position: relative;
                cursor: pointer;
                width: 100%;

                // entry date
                .todo-list-date {
                    font-size: 72%;
                    line-height: 1.4em;
                    opacity: 0.4;
                }

                // entry hidden edit input
                .todo-list-input {
                    display: block;
                    position: relative;
                    width: 100%;
                    font-size: inherit;
                    line-height: 1.2em;
                    background-color: transparent;
                    border-radius: $lineJoin;
                    max-height: 0;
                    z-index: 1;
                }

                // entry todo text
                .todo-list-text {
                    display: block;
                    width: auto;
                    position: relative;
                    font-size: inherit;
                    line-height: 1.2em;
                    z-index: 2;
                }

                // list entry focus state changes
                .todo-list-input:focus { max-height: 100%; }
                .todo-list-input:focus ~ .todo-list-text { display: none; }
            }
        }

        // entry controls
        .todo-list-control {
            padding: 2px 0 0 10px;
            opacity: 0.2;

            button {
                display: inline-block;
                font-size: inherit;
                line-height: 1em;
                cursor: pointer;
            }
        }

        // entry hover state
        &:hover {
            background-color: lighten( #e1decd, 5% );

            // show controls on hover
            .todo-list-control {
                opacity: 1;
            }
        }
    }

    // completed list item changes
    .todo-list-item.complete {
        background-color: #d1ddd0;

        // toggle left icon state
        .todo-list-icon {
            .todo-list-icon-pending {
                display: none;
            }
            .todo-list-icon-complete {
                display: inline-block;
            }
        }
        // add line-through effect to todo text
        .todo-list-info {
            .todo-list-text {
                text-decoration: line-through;
                opacity: 0.675;
            }
        }
        // hide check toggle icon
        .todo-list-control {
            .todo-list-btn-check {
                display: none;
            }
        }
    }
}

/**
 * Todo list add form
 */
.todo-list-form {
    display: block;
    margin: 0 0 100px 0;
    padding: 0 $padSpace;

    input {
        display: block;
        width: 100%;
        line-height: 1.8em;
        border-bottom: $lineWidth $lineStyle $lineColor;

        &:focus {
            border-color: $colorSuccess;
        }
    }
}

/**
 * Saved lists on sidebar
 */
.app-saved-lists {
    position: relative;

    .saved-list-wrap {
        padding: $padSpace;

        // main list ul element
        .saved-list-container {
            display: block;
            list-style: none;
            text-align: left;
            margin-bottom: $padSpace;

            // list item
            .saved-list-item {
                display: block;
                position: relative;
                margin-bottom: 10px;
                padding: $padSpace;
                border-radius: $lineJoin;
                background-color: rgba( 255, 255, 255, 0.1 );
                color: $colorDocument;
                box-shadow: $shadowPaper;
                animation: showAnimation $fxSpeed $fxEase;

                // left side arrow
                &:before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: $padSpace;
                    height: $padSpace;
                    left: -$padSpace;
                    top: 50%;
                    margin-top: -$padSpace;
                    border-top: $padSpace solid transparent;
                    border-bottom: $padSpace solid transparent;
                    border-right: $padSpace solid $colorDocument;
                    opacity: 0;
                }

                &:hover {
                    background-color: rgba( 255, 255, 255, 0.075 );
                }
                & > hr {
                    margin: 6px 0;
                }
                .saved-list-title {
                    color: #fff;
                }
                .saved-list-pill {
                    display: inline-block;
                    font-weight: normal;
                    font-size: 80%;
                    line-height: 1em;
                    margin-right: 8px;
                }
            }

            // list item active state
            .saved-list-item.active {
                background-color: $colorDocument;
                color: $colorDocumentText;

                // left side arrow
                &:before {
                    opacity: 1;
                }
                .saved-list-title {
                    color: $colorPrimary;
                }
                .saved-list-total {
                    color: $colorWarning;
                }
                .saved-list-done {
                    color: $colorSuccess;
                }
            }
        }

        .saved-list-btn {
            display: block;
        }
    }
}

/**
 * 900px and smaller
 */
@media (max-width: 900px) {

    // collapse right sidebar
    .app-wrap {
        width: calc( 100% + 300px );

        .app-left {
            width: 100%;

            #sidebar-toggle-btn {
                display: block;
            }
        }
        .app-right {
            width: 300px;
            background-image: none;

            .saved-list-heading,
            .saved-list-wrap {
                pointer-events: none;
                opacity: 0;

                .saved-list-btn {
                    display: none;
                }
            }
        }
        // show right sidebar on hove/active state
        .app-right.expanded {
            box-shadow: -2px 0 2px rgba( 0, 0, 0, 0.2 );
            transform: translateX( -300px );

            .saved-list-toggle {
                opacity: 0;
            }
            .saved-list-heading,
            .saved-list-wrap {
                pointer-events: auto;
                opacity: 1;

                .saved-list-btn {
                    display: block;
                }
            }
        }
    }

    // show selected list info
    .todo-list-metadata {
        display: block;
    }
}

/**
 * 720px and smaller
 */
@media (max-width: 720px) {

    // show todo list controls
    .todo-list-wrap {
        .todo-list-item {
            .todo-list-control {
                opacity: 1;
            }
        }
    }
}

