/**
 * Global reset
 */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    text-transform: none;
    text-shadow: none;
    appearance: none;
    box-shadow: none;
    box-sizing: border-box;
    touch-action: manipulation;
    transform-style: flat;
    transition:
        fill $fxSpeed $fxEase,
        stroke $fxSpeed $fxEase,
        transform $fxSpeed $fxEase,
        border-color $fxSpeed $fxEase,
        background-color $fxSpeed $fxEase,
        opacity $fxSpeed $fxEase;
}

/**
 * Block types
 */
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, main, summary, div, h1, h2, h3, h4, h5, h6, hr,
p, ol, ul, form, img {
    display: block;
}

/**
 * Doc mods
 */
html, body {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
body {
    position: relative;
    font-family: "Kalam", sans-serif;
    font-weight: normal;
    background-color: $colorDocument;
    color: $colorDocumentText;
}

/**
 * Vue cloaked elements
 */
[v-cloak] {
    display: none;
}
