/**
 * Common form elements
 */
input, textarea, select, option, optgroup, button {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    display: inline-block;
    cursor: pointer;
}