/**
 * Links
 */
a,
a:active,
a:visited,
a:hover {
    color: darken( $colorPrimary, 10% );
    text-decoration: none;
}
a:hover {
    color: $colorPrimary;
}
p > a {
    display: inline-block;
    text-decoration: underline;
}
