/**
 * Page notifications
 */
.notify-wrap {
    display: block;
    position: fixed;
    width: 100%;
    max-width: 500px;
    padding: $padSpace;
    bottom: 100px;
    left: 50%;
    transform: translateX( -50% );
    z-index: 9999;

    .notify-item {
        display: block;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: $listSpace;
        border-radius: $lineJoin;
        background-color: lignten( $colorDocument, 5% );
        border-bottom: $lineWidth $lineStyle $colorDocument;
        box-shadow: $shadowBold;
        opacity: 0;
        transform: translateY( 120px );

        .notify-message {
            display: block;
            padding: $padSpace ( $padSpace * 2 );
            padding-bottom: calc( #{$padSpace} - 4px );
            font-weight: normal;
        }
        &.notify-visible {
            opacity: 1;
            transform: translateY( 0 );
        }
        &.notify-default {
            background-color: $colorDefault;
            border-color: darken( $colorDefault, 5% );
            color: $colorDefaultText;
        }
        &.notify-success {
            background-color: $colorSuccess;
            border-color: darken( $colorSuccess, 5% );
            color: $colorSuccessText;
        }
        &.notify-warning {
            background-color: $colorWarning;
            border-color: darken( $colorWarning, 5% );
            color: $colorWarningText;
        }
        &.notify-info {
            background-color: $colorInfo;
            border-color: darken( $colorInfo, 5% );
            color: $colorInfoText;
        }
        &.notify-danger {
            background-color: $colorDanger;
            border-color: darken( $colorDanger, 5% );
            color: $colorDangerText;
        }
    }
}
