/**
 * Global reset
 */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    text-transform: none;
    text-shadow: none;
    text-size-adjust: 100%;
    box-shadow: none;
    box-sizing: border-box;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform-style: flat;
    transition:
        border-color $fxSpeed $fxEase,
        background-color $fxSpeed $fxEase,
        transform $fxSpeed $fxEase,
        opacity $fxSpeed $fxEase;
}

/**
 * Block types
 */
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, main, summary, div, h1, h2, h3, h4, h5, h6, hr,
p, ol, ul, form, img {
    display: block;
}

/**
 * Vue cloaked elements
 */
[v-cloak] {
    display: none;
}
