/**
 * Saved lists on sidebar
 */
.app-saved-lists {
    position: relative;

    .saved-list-wrap {
        padding: $padSpace;

        // main list ul element
        .saved-list-container {
            display: block;
            list-style: none;
            text-align: left;

            // list item
            .saved-list-item {
                display: block;
                position: relative;
                cursor: pointer;
                margin: 0;
                padding: $padSpace;
                border-radius: $lineJoin;
                background-color: lighten( $colorSecondary, 10% );
                border-bottom: $lineWidth $lineStyle lighten( $colorSecondary, 5% );
                color: $colorDocument;
                box-shadow: $shadowPaper;
                animation: showAnimation $fxSpeed $fxEase;

                // left side arrow
                &:before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: $padSpace;
                    height: $padSpace;
                    left: -$padSpace;
                    top: 50%;
                    margin-top: -$padSpace;
                    border-top: $padSpace solid transparent;
                    border-bottom: $padSpace solid transparent;
                    border-right: $padSpace solid $colorDocument;
                    opacity: 0;
                }

                &:hover {
                    background-color: lighten( $colorSecondary, 15% );
                }
                & > hr {
                    margin: 6px 0;
                }
                .saved-list-title {
                    color: #fff;
                }
                .saved-list-pill {
                    display: inline-block;
                    font-weight: normal;
                    font-size: 90%;
                    line-height: 1em;
                    margin-right: 8px;
                }
            }

            .saved-list-item + .saved-list-item {
                margin-top: $listSpace;
            }

            // list item active state
            .saved-list-item.active {
                background-color: $colorDocument;
                border-color: $colorPrimary;
                color: $colorDocumentText;

                // left side arrow
                &:before {
                    opacity: 1;
                }
                .saved-list-title {
                    color: $colorDocumentText;
                }
                .saved-list-total {
                    color: $colorInfo;
                }
                .saved-list-done {
                    color: $colorSuccess;
                }
                .saved-list-remain {
                    color: $colorDanger;
                }
            }
        }

        .saved-list-btn {
            display: block;
        }
    }
}
