/**
 * Saved lists on sidebar
 */
.app-saved-lists {
    position: relative;

    .saved-list-wrap {
        padding: $padSpace;

        // sidebar heading
        .saved-list-heading {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: .4em;

            & > h4 {
                display: block;
                margin: 0;
                padding: 0;
                line-height: 1em;
                color: $colorDocument;
            }
            & > button {
                font-size: 150%;
                color: $colorDocument;
                opacity: 1;

                &:hover {
                    opacity: .8;
                }
            }
        }

        // sidebar heading info
        .saved-list-info {
            // padding-left: $padSpace;
            font-size: 70%;
            line-height: 1em;
            margin-bottom: $rowSpace;
        }

        // default info container
        .saved-list-default {

            & > hr {
                border-color: rgba( 255, 255, 255, 0.075 );
            }
        }

        // main list ul element
        .saved-list-container {
            display: block;
            list-style: none;
            text-align: left;

            // disable transition of elements inside list item
            .saved-list-item *,
            .saved-list-item *:before,
            .saved-list-item *:after {
                transition: none;
            }

            // list item
            .saved-list-item {
                display: block;
                position: relative;
                cursor: pointer;
                margin: 0;
                padding: $padSpace;
                border-radius: $lineJoin;
                background-color: lighten( $colorSecondary, 10% );
                color: $colorDocument;
                box-shadow: $shadowPaper;

                // left side arrow
                &:before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: $padSpace;
                    height: $padSpace;
                    left: -$padSpace;
                    top: 50%;
                    margin-top: -$padSpace;
                    border-top: $padSpace solid transparent;
                    border-bottom: $padSpace solid transparent;
                    border-right: $padSpace solid $colorDocument;
                    opacity: 0;
                }

                &:hover {
                    background-color: lighten( $colorSecondary, 15% );
                }

                .saved-list-date {
                    font-size: 70%;
                    line-height: 1em;
                    padding-bottom: 0.8em;
                    opacity: 0.4;
                }

                .saved-list-title {
                    line-height: 1.2em;
                    padding-bottom: 0.5em;
                    margin-bottom: calc( 0.5em + #{$lineWidth} );
                    border-bottom: $lineWidth $lineStyle $lineColor;
                }

                .saved-list-count {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    font-size: 80%;
                    line-height: 1em;

                    & > span {
                        display: inline-block;
                    }
                }
                .saved-list-count > span + span {
                    margin-left: 0.4em;
                    padding-left: 0.4em;
                    border-left: $lineWidth $lineStyle $lineColor;
                }
            }

            .saved-list-item + .saved-list-item {
                margin-top: $listSpace;
            }

            // list item active state
            .saved-list-item.active {
                background-color: $colorDocument;
                border-color: $colorPrimary;
                color: $colorDocumentText;
                animation: slideLeft $fxSpeed $fxEase forwards;

                // left side arrow
                &:before {
                    opacity: 1;
                }
                .saved-list-title {
                    color: $colorDocumentText;
                }
                .saved-list-total {
                    color: $colorInfo;
                }
                .saved-list-done {
                    color: $colorSuccess;
                }
                .saved-list-remain {
                    color: $colorDanger;
                }
            }
        }

        .saved-list-btn {
            display: block;
        }
    }
}
