/**
 * Active todos list column (left)
 */
.app-todos-list {
    display: block;
    position: relative;
    animation: showAnimation $fxSpeed $fxEase forwards;

    // main todos list container
    .todo-list-wrap {
        display: block;
        position: relative;
        list-style: none;
        text-align: left;
        padding: $padSpace;
        padding-bottom: 5em;

        // todo list item entry (pending)
        .todo-list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: stretch;
            margin: 0 0 $listSpace 0;
            padding: 0.6em;
            background-color: lighten( $colorDocument, 5% );
            // border-bottom: $lineWidth $lineStyle $colorDocument;
            border-radius: $lineJoin;
            box-shadow: $shadowPaper;

            // list hover effect
            &:hover {
                background-color: lighten( $colorDocument, 10% );
            }

            // list item left icon
            .todo-list-icon {
                text-align: left;

                span {
                    display: block;
                    font-size: 2em;
                    font-weight: normal;
                    line-height: 1em;
                    margin-right: 10px;
                }
                .todo-list-icon-pending {
                    display: block;
                    color: $colorWarning;
                }
                .todo-list-icon-complete {
                    display: none;
                    color: $colorSuccess;
                }
            }

            // todo list entry info + edit input
            .todo-list-info {
                flex: 1;

                // input label wrapper
                .todo-list-label {
                    display: block;
                    position: relative;
                    cursor: pointer;
                    width: 100%;

                    // entry date
                    .todo-list-date {
                        font-size: 72%;
                        line-height: 1.6em;
                        opacity: 0.5;
                    }

                    // entry hidden edit input
                    .todo-list-input {
                        display: block;
                        position: relative;
                        width: 100%;
                        font-size: inherit;
                        line-height: 1.2em;
                        background-color: transparent;
                        border-radius: $lineJoin;
                        max-height: 0;
                        z-index: 1;
                    }

                    // entry todo text
                    .todo-list-text {
                        display: block;
                        width: auto;
                        position: relative;
                        font-size: inherit;
                        line-height: 1.2em;
                        z-index: 2;

                        & > i {
                            line-height: 1em;
                            opacity: 0;
                        }
                        &:hover > i {
                            opacity: 1;
                        }
                    }

                    // list entry focus state changes
                    .todo-list-input:focus { max-height: 100%; }
                    .todo-list-input:focus ~ .todo-list-text { display: none; }
                }
            }

            // entry controls
            .todo-list-control {
                text-align: right;
                padding: 2px 0 0 10px;

                .dropdown-trigger {
                    display: block;
                    font-size: 140%;
                    line-height: 1em;
                    cursor: pointer;
                    opacity: .6;

                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }

        // completed list item changes
        .todo-list-item.complete {
            background-color: lighten( $colorSuccess, 45% );
            border-bottom-color: lighten( $colorSuccess, 40% );

            &:hover {
                background-color: lighten( $colorSuccess, 48% );
            }

            // toggle left icon state
            .todo-list-icon {
                .todo-list-icon-pending {
                    display: none;
                }
                .todo-list-icon-complete {
                    display: block;
                }
            }
            // add line-through effect to todo text
            .todo-list-info {
                .todo-list-text > span {
                    text-decoration: line-through;
                    opacity: 0.5;
                }
            }
            // hide check toggle icon
            .todo-list-control {
                .todo-list-btn-check {
                    display: none;
                }
            }
        }
    }

    // tasks form
    .todo-footer-wrap {
        display: block;
        position: fixed;
        text-align: center;
        pointer-events: none;
        width: calc( 100vw - 300px );
        left: 0;
        bottom: 0;
        z-index: 888;

        .todo-footer-form {
            display: inline-block;
            pointer-events: auto;
            padding: 0 $padSpace;
            margin: 0 auto;
            width: auto;

            .todo-footer-label {
                display: flex;
                position: relative;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .todo-footer-button {
                    display: block;
                    position: relative;
                    cursor: pointer;
                    text-align: center;
                    font-size: 160%;
                    line-height: 2em;
                    width: 2em;
                    height: 2em;
                    color: $colorSuccessText;
                    background-color: $colorSuccess;
                    border-radius: 100px;
                    box-shadow: $shadowBold;
                    z-index: 3;

                    &:hover {
                        background-color: darken( $colorSuccess, 10% );
                    }
                }

                .todo-footer-control {
                    display: block;
                    position: relative;
                    overflow: hidden;
                    text-align: left;
                    width: 0;
                    opacity: 0;
                    padding: 1em 0;
                    z-index: 2;
                    transform: translateX( -20px );
                    transition: width $fxSpeed $fxEase, opacity $fxSpeed $fxEase;

                    input {
                        display: inline-block;
                        padding-left: calc( 20px + 0.5em );
                        padding-right: $padSpace;
                        line-height: 2em;
                        width: calc( 100% - 1em );
                        background-color: lighten( $colorDocument, 20% );
                        border: $lineWidth $lineStyle $colorSuccess;
                        border-radius: $lineJoin;
                    }
                }

                .todo-footer-control.expanded {
                    width: 40vw;
                    opacity: 1;
                    input { box-shadow: $shadowBold; }
                }
            }
        }
    }

}

/**
 * 900px and smaller
 */
@media (max-width: 900px) {

    // totals on mobile
    .app-todos-list {

        .todo-footer-wrap {
            width: 100%;
            .todo-footer-form {
                .todo-footer-label {
                    .todo-footer-control.expanded {
                        width: 60vw;
                    }
                }
            }
        }

    }
}

/**
 * 720px and smaller
 */
@media (max-width: 720px) {

    // show todo list controls
    .app-todos-list {

        .todo-footer-wrap {
            width: 100%;
            .todo-footer-form {
                .todo-footer-label {
                    .todo-footer-control.expanded {
                        width: 70vw;
                    }
                }
            }
        }

    }
}
