/**
 * header bar
 */
.header-wrap {
    display: block;
    position: fixed;
    width: 100%;
    height: $topbarHeight;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0 $padSpace;
    background-color: lighten( $colorDocument, 8% );
    // background-image: linear-gradient( 180deg, lighten( $colorDocument, 10% ) 0%, $colorDocument 100% );
    border-bottom: $lineWidth $lineStyle $colorPrimary;
    box-shadow: $shadowPaper;
    z-index: 100;

    .header-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: stretch;
        height: $topbarHeight;

        & > div {
            display: block;
            cursor: pointer;
        }

        .header-icon > span,
        .header-btn > span {
            display: block;
            font-size: 140%;
            line-height: 1em;
            padding: 4px 2px;
        }
        .header-icon {
            margin-right: .5em;
            padding-right: .5em;
            border-right: $lineWidth $lineStyle rgba( 0, 0, 0, 0.075 );
        }
        .header-btn {
            margin-left: .5em;
            padding-left: .5em;
            border-left: $lineWidth $lineStyle rgba( 0, 0, 0, 0.075 );
        }
        .header-input {
            flex: 1;

            input {
                display: block;
                white-space: nowrap !important;
                overflow: visible !important;
                text-overflow: ellipsis !important;
                margin: 0;
                padding: 0;
                width: 100%;
                font-size: 120%;
                line-height: inherit;
                height: 52px;
            }
        }
        #sidebar-toggle-btn {
            display: none;
        }
    }
}

/**
 * 900px and smaller
 */
@media (max-width: 900px) {

    // show sidebar toggle button
    .header-wrap {
        .header-nav {
            #sidebar-toggle-btn {
                display: block;
            }
        }
    }
}
